
.login-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    z-index: 9999;
    padding: 20px; 
}


.login-card {
    width: 100%;
    max-width: 420px; 
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.login-card:hover {
    box-shadow: 0 15px 35px rgba(0,0,0,0.4) !important;
}